body {
  background: #ADC8D0;
}

.clickable {
  color: blue;
}

.clickable:hover {
  text-decoration: underline;
}

button {
  background-color: #133D4B;
  color: #ADC8D0;
}

h1, h2 {
  color: #133D4B;
}

table {
  margin-top: 25px;
}
